<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hmtl del Blog</h1>
    {% for post in posts %}
        <h2>{{post.titulo}}</h2>
        <h3>{{post.fecha}}</h3>
        <p>{{post.descripcion | striptags | truncatechars:50}}</p>
        <img src="{{post.imagen.url}}" alt="post.titulo">
        <a href="{% url 'blog:post_detail' post.id %}">{{post.titulo}}</a>

    {% endfor %}
</body>
</html>